<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>MyJSPWeb</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>wangxinghe.name</param-name>
        <param-value>ricolwang</param-value>
    </context-param>
    <context-param>
        <param-name>wangxinghe.age</param-name>
        <param-value>29</param-value>
    </context-param>
    <servlet>
        <servlet-name>MainServletName</servlet-name>
        <servlet-class>servlet.MainServlet</servlet-class>
        <init-param>
            <param-name>InitParameter</param-name>
            <param-value>Hello, welcome to JSP world!</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServletName</servlet-name>
        <url-pattern>/servlet/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServletName</servlet-name>
        <url-pattern>/servlet/MainServletWithFilter</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>HelloWorldFilter</filter-name>
        <filter-class>filters.SimpleFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>HelloWorldFilter</filter-name>
        <url-pattern>/servlet/MainServletWithFilter</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPage/ErrorHandlePage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage/ErrorHandlePage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>ArithmeticException</exception-type>
        <location>/ErrorPage/ErrorHandlePage.jsp</location>
    </error-page>
</web-app>
